@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4070f4;
}

.form-container {
    width: 400px;
    background-color: #fff;
    padding: 24px;
    border-radius: 6px;
}

/* font h1: 30px, weight: 600px, margin bottom: 24px, #232836 */

.form-container h1 {
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 24px;
    color: #232836;
    text-align: center;
}

/* 
input: border 1px, màu #d4d4d4, padding: 12px, fontsize 16px, margin-bottom: 16px
*/
.field input,
.field button {
    height: 45px;
    border: none;
    border-radius: 7px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 18px;
}

.field input {
    border: 0.8px solid #d4d4d4;
    padding: 0 12px;
}

.field input:focus {
    outline: none;
    border-bottom: 1.7px solid #d4d4d4;
}

/* 
button: height: 45px, font: 14px, margin bottom 16px, height: 45, bg-color: #0171d3, hover: #0267bf
*/

.field button {
    background-color: #0171d3;
    color: #fff;
    font-weight: 500;
}

.field button:hover {
    background-color: #0267bf;
    cursor: pointer;
}

/* 
link: margin-bottom: 24px, fontsize 14px, color: #0171d3, 
*/

.link {
    font-size: 14px;
    text-align: center;
    margin-bottom: 22px;
}

.link a:link {
    color: #0171d3;
    text-decoration: none;
}

.link a:visited {
    color: #0171d3;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

.link a:active {
    text-decoration: underline;
}

/* 
line: margin-bottom: 32px, bg: #d4d4d4, height: 0.5px, widht: 100%
span line: bg: fff, padding: 12px, font-size: 16
*/

.line {
    position: relative;
    height: 0.5px;
    background-color: #d4d4d4;
    margin-bottom: 24px;
}

.line span {
    position: absolute;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: #fff;
    padding: 0 8px;
    font-size: 14px;
}

/* 
button-facebook: bg #4267b2, bg-hover: #3a5a9b, 
*/

.facebook-button {
    margin-bottom: 16px;
    position: relative;
}

.facebook-button button {
    background-color: #4267b2;
    margin-bottom: 0;
}

.facebook-button button:hover {
    background-color: #3a5a9b;
}

.facebook-button button:active {
    background-color: #335292;
}

.facebook-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

/* 
button-google: bg: fff, bg-hover: #f2f2f2
*/

.google-button {
    position: relative;
    margin-bottom: 16px;
}

.google-button button {
    background-color: #fff;
    margin-bottom: 0;
    color: #232836;
    border: 1px solid #d4d4d4;
}

.google-button button:hover {
    background-color: #f2f2f2;
}

.google-button button:active {
    background-color: #e3e3e3;
}

.google-icon {
    color: #232836;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}

.github-button {
    position: relative;
    margin-bottom: 16px;
}

.github-button button {
    margin-bottom: 0;
    background-color: #171515;
}

.github-button button:hover {
    background-color: #272424;
}

.github-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.register-form {
    display: none;
}

.login-form {
    display: block;
}

.dashboard {
    width: 320px;
    background-color: #fff;
    border-radius: 6px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard .button-field {
    margin-bottom: 16px;
}

.button-field button {
    margin-left: 8px;
    padding: 5px 10px;
    border-radius: 6px;
    border: 1px solid #d4d4d4;
    font-size: 15px;
}

.button-field button:hover {
    border: 1px solid #bab6b6;
}

.button-field button:active {
    border: 1px solid #999696;
}

.reset-email input {
    margin-left: 8px;
    padding: 7px 10px;
    border-radius: 6px;
    border: 1px solid #d4d4d4;
    text-align: center;
    margin-bottom: 16px;
}

.reset-email input:focus {
    outline: none;
}

.dashboard {
    display: none;
}

.reset-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset-password .reset-form {
    display: flex;
    flex-direction: column;
}

.reset-form input {
    margin-left: 8px;
    padding: 7px 10px;
    border-radius: 6px;
    border: 1px solid #d4d4d4;
    text-align: center;
    margin-bottom: 14px;
}

.reset-form input:focus {
    outline: none;
}

.reset-container {
    display: none;
}